* {
    box-sizing: border-box;
}

:root {
    --background: white;
    --operator-button: #68575D;
    --number-button: #A47F7B;
    --screen-color: black;
    --border-color: #D0A196;
}

body {
    background-color: var(--background);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto 10% auto;
    
}

.pantalla {
    display: grid;
    width: 100%;
    height: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-content: flex-start;
    grid-gap: 0px;
    margin-bottom: 10px;
    font-family: 'Electrolize', sans-serif;
}

.lcd1 {
    border: 1px solid var(--border-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 0px;
    height: 100%;
    text-align: end;
    margin: 0px;
    padding: 5% 5% 0 0;
}

.lcd2 {
    border: 1px solid var(--border-color);
    border-top: 1px dotted var(--border-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    margin: 0px;
    text-align: center;
    padding: 5% 0 0 0;
}

.teclado {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr), 1fr 1fr;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    color: var(--number-button);
}

.teclado > div {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
}

.teclado > div:hover {
    background-color: red;
}

.oper {
    color: var(--operator-button);
}

.suma {
    display: grid;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    align-content: center;
    
}

.clear {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}